{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'blog/css/blog-home.css' %}" rel="stylesheet">
  <link href="{% static 'blog/css/line.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" style='border:1px solid #00dba0; padding: 4px; border-radius: 4px; color: #00dba0;' href="{% url 'blog-home' %}">BLOGPOST</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto" style="border:1px solid #00dba0; padding: 4px; border-radius: 4px; color: #00dba0;">
        {% if user.is_authenticated %}
          <li class="nav-item ">
            <a class="nav-link" style="color: #00dba0;" href="{% url 'create-entry' %}"><h5>Post</h5></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" style="color: #00dba0;" href="{% url 'profile' %}"><h5>Profile</h5></a>
          </li>   
          {% else %}
          <li class="nav-item">
            <a class="nav-link" style="color: #00dba0;" href="{% url 'register' %}"><h5>SIGN UP</h5></a>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" style="color: #00dba0;" href="{% url 'logout' %}"><h5>Logout</h5></a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" style="color: #00dba0;" href="{% url 'login' %}"><h5>LOGIN</h5></a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

  <div class="row">
{% block content %} {% endblock %}

 
<!-- Sidebar Widgets Column -->
{% block side %}  
{% if user.is_authenticated %}

<div class="col-md-4 my-4">
  <!-- Side Widget -->
        <div class="card text-white bg-secondary mb-3 my-4">
          <h5 class="card-header" style="color: #00dba0;">USERINFO</h5>
          <div class="card-body">
              <div class="col-md-8 text-center">
                  <img src="{{ user.profile.image.url }}" class="rounded-circle float-right img-fluid img-thumbnail" alt="avatar">
              </div>
            <ul class="list-styled mb-0 my-4">
                <li>
                    <p> <strong>Username:</strong> {{ user.username }} </p>
                </li>
                <li>
                    <p> <strong>Email:</strong> {{ user.email }}</p>
                </li>
            </ul> 
          </div>   
      </div>
  </div>
 </div> 
{% endif %}
{% endblock side %}  
<!-- Side Widget -->

    </div>
   
    <!-- /.row -->

  </div>
  <!-- /.container -->
<footer class="py-5 bg-dark">
  <div class="container">
    <a href="" name="Facebook"><h5>Facebook.</h5></a>
    <a href="" style="color: red;" name="Youtube"><h5>Youtube.</h5></a>
    <p class="m-1 text-center text-white">Copyright  &copy; manucho's Blogpost 2020</p>
  </div>
    <!-- /.container -->
</footer>
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'blog/vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'blog/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
</body>

</html>
