{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
      <div class="col-md-8 my-4">
        <div class="card mb-4 mt-4">
         <div class="card-header">
          Create Blog Post
          </div>
          <div class="card-body">
          <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <button type="sumit" class="btn-primary">Submit</button>
          </form>
         </div>
        </div>
      </div>
{% endblock %}