 {% extends 'blog/base.html' %} 
 {% block content %}

<div class="container">
  <div class="card text-white bg-secondary mb-3 form-row my-4 mb-8 ">
       <div class="card-body">
              <form class="form-inline md-form mr-auto" action="{% url 'searchblog' %}" method="GET" value="{{request.GET.q}}">
                <input class="form-control col-md-4 mr-sm-2" type="text" name="q" value="{{request.GET.q}}" placeholder="Search...."/>
                  <input class="btn btn-success my-sm-0" type="submit" name="submit" value="Search"/>
             </form>
        </div>
  </div>
</div>
<div class="container">
     <div class="card-body">
             {% if submitbutton == 'Search' and request.GET.q != '' %}
             {% if results %}
             <h1>Results for <b>{{ request.GET.q }}</b></h1>
             <br/><br/>
             {% for result in results %}
             <h3 class="card-title">{{ result.entry_title }}</h3>
             
             <br/>
             <p class="card-text">{{result.entry_text}}</p>
             
             <br/>
             {% endfor %}
             {% else %}
             <div class="container">
             No search results found
             <br/>
             <a class="btn btn-outline-secondary my-4" href="{% url 'blog-home' %}"><h3>Back</h3></a>
             </div>
             {% endif %}
             {% endif %}
      </div>
</div>

   <div class="col-md-8">
      {% for post in my_blogs %}
        <!-- Blog Post -->
        <div class="card mb-4 mt-4" style="border:6px solid grey; padding: 6px; border-radius: 6px; color: black;">
           <img class="card-img-top" src="{{ post.entry_pic.url }}" alt="Card image cap">
             <div class="card-body">
               <h3 class="card-title">{{ post.entry_title.upper }}</h3>
                <p class="card-text lead">{{ post.entry_text|truncatechars:100 }}</p>
              <a href="{% url 'post-detail' post.pk %}" class="btn btn-primary btn-sm">Read More &rarr;</a>
          </div>
        <div class="card-footer text-muted">
            {{ post.entry_date }}
            <span class= "text-info mr-2">{{ post.entry_author }}</span>
          </div>
    </div>
        {% endfor %}
       
        {% if is_paginated %}
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link btn btn-outline-info" href="?page={{ page_obj.previous_page_number }}">&larr; Previous Page</a>
          </li>
          {% endif %}
          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link btn btn-outline-info" href="?page={{ page_obj.next_page_number }}">Next Page &rarr;</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
 {% endblock %}