{% extends 'blog/base.html' %} 
{% load crispy_forms_tags %}
{% block content %}

      <div class="col-md-8 mx-auto my-4">
        <div class="card border-secondary mb-3" style="max-width: 29rem;">
          <div class="card-header">
          Login to Your Account
          </div>
          <div class="card-body ">
          <form method = 'POST'>
            {% csrf_token %}
             {{form|crispy}}
             <button type="sumbit" class=" btn btn-success" style="border-radius: 8px;">Login</button>
            </form>
          </div>
        </div>
      </div>
{% endblock %}