{% extends 'blog/base.html' %} 
{% load crispy_forms_tags %}
{% block content %}

<div class='container'>
  <div class="card text-white bg-secondary mb-3 mb-4 mt-4">
            <div class="card-header">Profile</div>
               <div class="row">
                    <div class="col-md-8">
                
                        <div class="col-md-8 text-xs-center">
                          <img src="{{ user.profile.image.url }}" class="rounded-circle float-left img-fluid img-thumbnail" alt="avatar">
                        </div>  
                        <ul class="list-styled mb-8 my-4 float-right">
                           <li>
                              <p> <strong>Username:</strong> {{ user.username }} </p>
                           </li>
                           <br/>
                           <li>
                              <p> <strong>Email:</strong> {{ user.email }}</p>
                           </li>
                        </ul> 
              </div>
         </div>
    </div>
</div>
<div class='container'>
    <div class='card border-secondary'>
       <div class="card-header text-white bg-secondary">
                Profile Update
            </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                   {{ u_form|crispy }}
                {% if user.profile %}
                    {{ p_form|crispy }}
                {% endif %}
            </div>
               <button class="btn btn-success" type="submit">Update</button>
             </form>
        </div>
    </div>
</div>
{% endblock %}